body {
    background: url("img/background.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: brown;
    color: orange;
    font-family: Georgia, Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    margin: 15px;
}

img {
    display: block;
    margin: 0px auto;
    border: solid red 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: orange;
}

.center {
    text-align: center;
}

div.container {
    display: block;
    box-sizing: border-box;
    margin: 0px auto;
    text-align: center;
    background-color: #FFB266;
    border: solid red 5px;
    border-radius: 10px;
    width: 600px;
}

div.container div {
    border: solid red 5px;
}

.list-align {
    display: inline-block;
    text-align: initial;
}

.ref img,
.ref a {
    box-sizing: border-box;
    display: inline-block;
    height: auto;
}

.ref a {
    margin: 6%;
    width: 35%;
}

.ref img {
    width: 100%;
}

.introduction {
    margin: 40px;
}

.ref .right {
    margin-left: 10%;
}